<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wildfire</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

</head>

<body>


    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-brand">
                <img src= "{% static 'img/wildfire_square.png' %}" alt="WF_Logo" height="220" width="220">
            </div>
            <div>
                <div class="block-left">
                    <ul class="sidebar-nav">
                        <li id="search">
                            <form action="input" method="get">
                                <input type="text" name="term" id="term" />
                                <input value="" type="submit" name="search_button" id="search_button">
                                </a>
                            </form>
                        </li>
                        {% if tweets %}
                        <li>
                            <div>
                                <div class="block-left">
                                    <img src="{% static 'img/pos_symbol.png' %}" height="7"> Positive
                                </div>
                                <div class="block-right">
                                    <label class="switch_wrap" for="positive">
                                    <input id="positive" type="checkbox" value="1" />
                                        <div class="switch">
                                            <span class="bullet"></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="block-left">
                                  <img src="{% static 'img/neg_symbol.png' %}" height="7"> Negative
                                </div>
                                <div class="block-right">
                                    <label class="switch_wrap" for="negative">
                                    <input id="negative" type="checkbox" value="1" />
                                        <div class="switch">
                                            <span class="bullet"></span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </li>
                        {% endif %}
                        <li>
                            {% block filter %}{% endblock %}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="sidebar-bottom-nav">
                <ul class="sidebar-nav">
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'heatmap' %}">Map</a>
                    </li>
                    <li>
                        <a href="#menu-toggle-hide" id="menu-toggle-hide">Exit</a>
                    </li>
                    <li>
                      <footer style="font-size: .9em">
                        © 2015 JARZ
                      </footer>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="topbar">
            <div class="topbar-left">
                <ul class="sidebar-nav2">
                    <li>
                        <a href="#menu-toggle-show" id="menu-toggle-show">MENU</a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right">
                <img src= "{% static 'img/wildfire_long.png' %}" height="35">
            </div>
        </div>


        <!-- Page Content -->
        {% block content %}
        {% endblock %}
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    {% if tweets %}
    $("#menu-toggle-show").fadeOut("fast", function() {
        //Animation complete.
    });
    {% else %}
    $("#wrapper").toggleClass("toggled");
    {% endif %}
    $("#menu-toggle-hide").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle-show").fadeIn("slow", function() {
            //Animation complete.
        });
    });
    $("#menu-toggle-show").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#menu-toggle-show").fadeOut("slow", function() {
            //Animation complete.
        });
    });
    $("#positive").click();
    $("#negative").click();
    $("#positive").click(function(e) {
      togglePositiveHeatmap();
    });
    $("#negative").click(function(e) {
      toggleNegativeHeatmap();
    });
    </script>

</body>
</html>
